* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #c40000 0%, #8f1515 45%, #222 100%);
    min-height: 100vh;
    color: #d8d8d8;
}

header {
    background-color: #8f1515;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

header h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #111;
}

.piter {
    color: #eee;
    text-decoration: none;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.dashboard {
    min-height: calc(90vh - 95px);
}

aside {
    display: flex;
    border-radius: 10px;
}

.lista_ul {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

li {
    margin-bottom: 0; 
}

.link {
    padding: 13px 10px;
    text-decoration: none;
    color: #ddd;
    background: linear-gradient(to right, #3a3a3a, #bdbdbd);
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.link:hover {
    background: #ff2d2d;
    color: white;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    flex: 1;
    padding: 38px 50px;
}

.titleCards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    margin-top: 16px;
    background-color: #3a3a3a;
    padding: 24px;
    border-radius: 16px;
    border: 2px solid #1b1b1b;
}

.numCard {
    font-size: 35px;
    font-weight: bold;
    color: #ff2d2d;
    margin-bottom: 10px;
}

.relatorio-card {
    max-width: 950px;
    margin: 0 auto;
    background: #333;
    border: 2px solid #191919;
    border-radius: 28px;
    padding: 28px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.35);
    margin-top: 30px;
}

.relatorio-card h1 {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 14px;
}

thead {
    background: #ff3038;
}

th {
    padding: 15px;
    color: white;
    font-weight: 500;
    text-align: center;
}

td {
    padding: 14px;
    text-align: center;
    background: #3d3d3d;
    color: #d7d7d7;
    border-bottom: 1px solid #505050;
}

tbody tr:hover td {
    background: #474747;
}

td:last-child {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
}

footer a:hover {
    text-decoration: underline;
}

/* Menu Hambúrguer */
.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

/* Responsividade  */
@media (max-width: 768px) {
    header {
        position: relative;
        padding: 15px 20px;
    }

    header h1 {
        font-size: 24px;
    }

    header img {
        width: 45px;
        height: 45px;
    }

    main {
        width: 92%;
        margin: 30px auto;
        padding: 20px;
    }

    .relatorio-card {
        padding: 20px;
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }
}
    .menu-toggle {
        display: flex;
        z-index: 100;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 95px;
        left: 0;
        min-width: 20%;
        background-color: #222; 
        padding: 20px;
        box-shadow: 0 20px 35px rgba(0,0,0,0.5);
        border: 2px solid #ff2d2d;
        justify-content: center;
        z-index: 99;
    }

    .nav-menu.active {
        align-items:center ;
        display: flex;
        /* display: block; */
    }

    .nav-menu ul.lista_ul {
        flex-direction: column;
        gap: 12px;
        min-width: 50%;
    }

    .nav-menu ul.lista_ul li {
        width: 100%;
        text-align: center;
    }

    .nav-menu ul.lista_ul li a {
        display: block;
        width: 100%;
    }
